# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.gift.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\easyg\Desktop\EG\Web\giftsMom\giftV1\gift\.idea\.idea.gift.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
